
  <form [formGroup]="form" (ngSubmit)="postarDados()">
    <div>
      <input type="text" placeholder="Nome..." formControlName="nome">
      <small *ngIf="form.get('nome')?.errors">
        Campo Obrigatório
      </small>
    </div>

    <div *ngFor="let pergunta of formPerguntas.controls">
      {{ pergunta.get('pergunta')?.value }}
      
      <ng-container [formGroup="$any(pergunta">
        <input type="radio" formControlName="resposta" [value]="false">
        Não
        <input type="radio" formControlName="resposta" [value]="true">
        sim

      </ng-container>
      
    </div>
    <div>
      <input type="submit" value="postar" />
    </div>
  </form>
  {{ form.value | json}}